hostname "{{ hostname }}"
ip domain-name "{{ domain_name }}"

ip domain-lookup vrf "{{ vrf }}" source-interface "{{ source_int }}"

{% for server in {{ name_servers }} %}
ip name-server {{ name_servers.server }}
{% endfor %}

{% for intf in {{ config }} %}
interface {{ config.interface }}
  {% if config.description %}
    description {{ config.description }}
  {% if config.ipv4 %}
    ip address {{ config.ipv4 }}
  {% elif config.ipv4 == 'absent' %}
    no ip address
  {% if config.mode == 'layer2' %}
    switchport
  {% elif config.mode == layer3' %}
    no switchport
  {% if config.enabled == 'no' %}
    shutdown
  {% eif config.enabled == 'yes' %}
    no shutdown
{% endfor %}
