hostname {{ hostname }}
ip domain-name {{ domain_name }}

ip domain-lookup vrf {{ vrf }} source-interface {{ source_int }}

{% for ns in {{ name_servers }} %}
ip name-server {{ ns.server }}
{% endfor %}

{% for intf in {{ config }} %}
interface {{ intf.interface }}
  {% if intf.description %}
    description {{ intf.description }}
  {% if intf.ipv4 %}
    ip address {{ intf.ipv4 }}
  {% elif intf.ipv4 == 'absent' %}
    no ip address
  {% if intf.mode == 'layer2' %}
    switchport
  {% elif intf.mode == layer3' %}
    no switchport
  {% if intf.enabled == 'no' %}
    shutdown
  {% elif intf.enabled == 'yes' %}
    no shutdown
{% endfor %}
